<mat-toolbar *ngIf="{ state: state.state | async } as params">
  <div class="container d-flex w-100 justify-content-between align-items-center">
    <div class="title">Starknet NFT Factory</div>
    <div class="">
      <div class="" *ngIf="!params.state?.connected">
        <button mat-raised-button color="primary" (click)="connectionService.connect()">
          Connect
        </button>
      </div>
      <div class="d-flex gap-3" *ngIf="params.state?.connected">
        <div class="fs-6 d-flex align-items-center gap-1">
          <span>Connected to</span>
          <span>{{ params.state?.chain }} via</span>
          <img alt="" [src]="$any(params.state?.starknet?.icon)" [width]="20" [height]="20" />
        </div>
        <button mat-raised-button color="primary" (click)="connectionService.disconnect()">
          Disconnect
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
